{% extends "goods/base.html" %}
	 {% block body%}
	<div class="breadcrumb">
		<a href="/goods/">全部分类</a>
		<span>></span>
		<a href="/goods/fruit/page/">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goods/fruit/page/" class="active">默认</a>
				<a href="/goods/sort-price-fruit/page/">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for fruit in fruit_list %}
					<li>
						<a href="/goods/fruit-detail/{{fruit.id}}"><img src="{{fruit.origin}}"></a>>
						<h4><a href="/goods/fruit-detail/{{fruit.id}}">{{fruit.name}}</a></h4>
						<div class="operate">
							<span class="prize">￥{{fruit.price}}</span>
							<span class="unit">{{fruit.price}}/500g</span>
							<a href="#" class="add_goods" title="加入购物车"></a>
						</div>
					</li>
				{% endfor %}
			</ul>

			<div class="pagenation">
				{%if fruit_list.has_previous %}
				<a href="/goods/fruit/page/{{pindex|add:-1}}">上一页</a>
				{% endif %}
				{% for i in page_list %}
					{% if i == pindex %}
					<a href="#" class="active">{{pindex}}</a>
					{% else %}
					<a href="/goods/fruit/page/{{i}}">{{i}}</a>
					{% endif %}
				{% endfor %}
				{%if fruit_list.has_next %}
				<a href="/goods/fruit/page/{{pindex|add:1}}">下一页</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endblock body%}
